body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f5f5
}
.container {
    width: 800px;
    margin: auto;
    position: relative;
    top: 50px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: blue;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}
