{% extends 'home.html' %}
{% block title %}Paypal checkout{% endblock %}
{% block content %}
{% load static %}
<link href="{% static '/css/details.css' %}" rel="stylesheet">
<div class="container">
    <div class="col-lg-8">
        <div class="right-side-pro-detail border p-3 m-0">
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align:center">Thank you for the order!</p>
                </div>
                <hr class="p-0 m-0">
                <div class="col-lg-12 pt-2">
                    <div class="row">
                        <div class="col-lg-2 pt-2">
                            Ordered items:
                        </div>
                        {% for product in cart.items.all %}
                        <div class="col-lg-4">
                            {{ product.quantity }} x {{ product.item.title }} - $
                            {% if product.item.discount_price %}
                            {{ product.item.discount_price }}
                            {% else %}
                            {{ product.item.price }}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="p-0 m-0">
                    <div class="col-lg-12 pt-2">
                        <div class="row">
                            <div class="col-lg-2">
                                Total value: ${{ cart.get_cart_value }}
                            </div>
                        </div>
                        <hr class="p-0 m-0">
                        <div class="col-lg-12 pt-2">
                            <div class="row">
                                Delivery details
                                <div class="col-lg-2">
                                    {{ delivery.first_name }} {{ delivery.surname }}
                                </div>
                                <div class="col-lg-2">
                                    {{ delivery.address1 }} {{ delivery.address2 }}
                                </div>
                                <div class="col-lg-2">
                                    {{ delivery.city }} {{ delivery.postal }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}